#navBox {
    cursor: pointer;
    display: flex;
    height: 40px;
    line-height: 40px;
}
#navBox #allSort{
    font-weight: bold;
    font-size: 18px;
    width: 206px;
    height: 100%;
    margin-right: 46px;
    text-align: center;
    background-color:#ff5757;
}
#sortEl {
    width: 750px;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}

#sortEl span:hover {
    color: #ff5757;
}

#navBox p {
    margin-bottom: 0px; 
    color:  #ff5757; 
}
#sortBox {
    background-color: rgba(255, 255, 255,0.94);
}
.sortItem {
    display: flex;
    width: 250px;
    font-size: 14px;
    flex-wrap: wrap;
    color: rgb(125 125 125);
}
.sortItem>span {
    margin: -9px 20px -10px 0;
}

.sortItem>span:hover {
    color:  #ff5757;
}