#mySearchBox {
    width: 1200px;
    height: 100px;
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
#mySearchBox>img {  
    width: 100px; 
}
#mySearchBox #tel {
    margin-right: 20px;
}