.header {
    width: 100%;
    height: 120px;
    background-color: thistle;
}
.main {
    display: flex;
    justify-content: space-between;
    
}
.sider {
    width: 208px;
    border: 1px solid #ccc;
}
/* .rigth-content{
    margin: 20px;
} */
.content {
    width: 968px;
    border: 1px solid #ccc;
}
.toptext {
    display: block;
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    background-color: #EEEEEE;
    line-height: 20px;
    padding: 8px 30px;
}
.own {
    width: 100%;
    height: 138px;
    padding: 20px 30px;
    box-sizing: border-box;
    /* border: 1px solid #ccc; */
    display: flex;
    justify-content: space-between;
}
.own-left {
    width: 250px;
    height: 92px;
    display: flex;
    justify-content: space-between;
}
.avatar {
    width: 92px;
    height: 92px;
    border-radius: 50% 50%;
    background-color: #FFD4D4;
    position: relative;
}
.avator-icon.icon {
    position: absolute;
    top: 21px;
    left: 12px;
    font-size: 44px;
    color: #FF6161;
}
.namer {
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
    font-size: 14px;
    margin-right: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
}
.own-mid {
    width: 224px;
    height: 90px;
    box-sizing: border-box;
    padding: 10px 30px;
    border: 1px solid #ccc;
    border-top: 0px;
    border-bottom: 0px;
    display: flex;
    justify-content: space-around;
    margin-right: 65px;
}
.wait-paying,.wait-evaluate {
    width: 50px;
    height: 50px;
    background-color: #FFD4D4;
    border-radius: 50%;
    position: relative;
    border:1px solid transparent;

}
.wait-paying:hover,.wait-evaluate:hover {
    border:1px solid #FF5757;
}
.anticon {
    font-size: 27px;
    position: absolute;
    top: 12px;
    right: 11px;
    color: #ccc;
    display: inline-block;
    color: inherit;
    /* font-style: normal; */
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.own-right {
    margin-right: 100px;
}
.own-right p {
    margin-top: 16px;
    margin-bottom: 1em;
}
.why-vip {
    margin: 20px 30px;
    border: 1px solid #ccc;
    padding: 10px 20px;
}
.why-vip h6{
    font-size: 14px;
    font-weight: 900;
    color: #777;
}
.why-vip hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
}
.why-vip p {
    font-size: 12px;
    margin: 9px 0;
}
.collection {
    margin: 20px 30px;
    border: 1px solid #ccc;
}
.mycollection {
    background-color: #EEEEEE;
    padding: 0 20px;
    display: block;
}
.collection p {
    text-align: center;
    color: red;
    margin: 20px;
}
.my-integral {
    padding: 10px 20px;
    background-color: #eee;
}
.integral-text {
    padding: 20px;
    color: #666;
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}
hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
}
dd {
    font-size: 12px;
}
dt {
    font-weight: bold;
}
.jilu {
    color: red;
    /* margin: 0 auto; */
    text-align: center;
    font-weight: bold;
}